@page
@model Project_Calories.Pages.Foods.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<style>
    .container {
        margin-top: 20px;
    }

    h1{
        color: #FF0000; /* Rosu */
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .row {
        margin-top: 20px;
    }

    .btn-delete {
        margin-top: 20px;
        margin-right: 10px;
    }

    .btn-back {
        margin-top: 20px;
    }
</style>

<div class="container">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete <a style="color: #FF0000; text-decoration: underline;">@Html.DisplayFor(model => model.Food.Name)</a>?</h3>
<div>
    <hr />
   <!-- <dl class="row">
        <dt class="col-sm-2">Food Name</dt>
        <dd class="col-sm-10">
            Html.DisplayFor(model => model.Food.Name)
        </dd>
        <dt class="col-sm-2">Calories</dt>
        <dd class="col-sm-10">
            Html.DisplayFor(model => model.Food.Calories)
        </dd>
        <dt class="col-sm-2">Categorie Name</dt>
        <dd class="col-sm-10">
            Html.DisplayFor(model => model.Food.Categorie.CategorieId)
        </dd>
    </dl>-->
    
    <form method="post">
        <input type="hidden" asp-for="Food.FoodId" />
        <input type="submit" value="Delete" class="btn btn-danger" />

        <a asp-page="./Index" class="btn btn-success">
            <i class="fa fa-plus"></i> Back to List
        </a>

    </form>
</div>
