@page
@model Project_Calories.Pages.Members.EditModel

@{
    ViewData["Title"] = "Edit";
}
<style>
    .container {
        margin-top: 20px;
    }

    h4 {
        color: #4CAF50; /* Verde inchis */
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #4CAF50;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: black; /* Verde inchis */
        color: #4CAF50;
    }

    a {
        text-decoration: none;
        color: #007bff; /* Albastru deschis */
    }

        a:hover {
            text-decoration: underline;
        }
</style>
<h4>User Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Member.MemberId" />
            <div class="form-group">
                <label asp-for="Member.FirstName" class="control-label"></label>
                <input asp-for="Member.FirstName" class="form-control" />
                <span asp-validation-for="Member.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.LastName" class="control-label"></label>
                <input asp-for="Member.LastName" class="form-control" />
                <span asp-validation-for="Member.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.Address" class="control-label"></label>
                <input asp-for="Member.Address" class="form-control" />
                <span asp-validation-for="Member.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.Email" class="control-label"></label>
                <input asp-for="Member.Email" class="form-control" />
                <span asp-validation-for="Member.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.Phone" class="control-label"></label>
                <input asp-for="Member.Phone" class="form-control" />
                <span asp-validation-for="Member.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-success">
        <i class="fa fa-plus"></i> Back to List
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
